    <div id="header"><ul>
        <li><a href="login.html">Logout</a></li>
        <li><a href="search.html"> search</a></li>
        <li><h1>{{Username}}</h1></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">collections</a>
            <div class="dropdown-content">
            <a href={{collection-link}}>{{collection-name}}</a>
            <a href={{collection_link}}>{{collection-name}}</a>
        </div></li>
    </ul> </div>