    <body id="Sbody">
    <div id="header">
        <a class="m-button" href="/login">Logout</a>
        <a class="m-button" href="/searchengine"> search</a>
       <h1>{{Username}}</h1>
    <h1 id="title">Card Collection</h1></div>
       <div id="card"> {{#each cards}}
<div class="flip-card"> 
    <div class="flip-card-inner">
        <div class="flip-card-front">  
            <img id="cards" src='/css/pictures/FofS.png' alt="">
    </div>
    <div class="flip-card-back">
           
                 <li>
        <strong>Card Name:</strong> {{card_name}}<br>
        <strong>Card Type:</strong> {{card_type}}<br>
        <strong>Rarity:</strong> {{rarity}}<br>
        <strong>Edition:</strong> {{edition}}<br>
        <strong>Artist Name:</strong> {{artist_name}}<br>
      </li>
</div></div> </div>
    {{/each}}</div>
</body>

